<h3>
  Events in <%=@geolocation.city%>
</h3>


<br/>
<br/>
  <%@events.each do |event|%>
    <h5>
      <a href="<%=event["url"]%>"><%=event["title"]%></a> @
      <%=event["venue"]["name"]%>
    </h5>
  <%end%>























